@model IT1.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Contact Us";
}

@section scripts {
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h3>Contact Us</h3>

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-muted"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input type="email" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-muted"></span>
    </div>
    <div class="form-group">
        <label asp-for="Message"></label>
        <textarea cols="40" rows="4" asp-for="Message" class="form-control"></textarea>
        <span asp-validation-for="Message" class="text-muted"></span>
    </div>
        <div>
            <input type="submit" value="Send Message" class="btn-success" />
            <span asp-validation-summary="ModelOnly"></span>
            @if (ViewBag.UserMessage != null)
            {
                <span>@ViewBag.UserMessage</span>
            }
        </div>
</form>