@{ 
    ViewBag.Title = "Home Page";
}
<h3>HOME PAGE</h3>
           
<form>
    <div class="row">
        <div class="col-md-12">
            <h1>IT1 Solutions</h1>
            <p>.NET Developer NEEEEEEEEEDS a job!</p>
        </div>
    </div>
</form>
