@{ 
    ViewBag.Title = "Home Page";
}
<h3>HOME PAGE</h3>
           
<form>
    <div>
        <label>Date From:</label><input type="date" id="d_FromDate" />
        <label>Date To:</label><input type="date" id="d_ToDate" />
    </div>
    <div>
        <input type="button" id="btn_Add" value="Add" />
        <input type="button" id="btn_Cancel" value="Cancel" />
    </div>
</form>
